.container {
  border: 1px solid gray;
  border-radius: 20px;
  margin: auto;
  width: 500px;
  min-height: 100vh;
  padding: 4px;
}
h3 {
  margin: 0px !important;
}
.txt-ali {
  text-align: center;
}
.mt-1 {
  margin-top: 10px;
}
.title {
  text-align: center;
  color: #000000;
  margin: 0px !important;
}
.pl-4 {
  padding-left: 30px;
}
.balanceContainer {
  margin: 30px 0px;
}
.balance {
  color: #76ff03;
  margin: 10px 4px !important;
  letter-spacing: 3px;
}
.bal {
  font-size: 3rem !important;
  font-weight: 500;
  letter-spacing: 2px;
}
.color {
  color: #76ff03;
}
.expense {
  color: #bf360c;
}
.flow-text {
  padding-left: 20px;
  margin: 0px !important;
}
.col {
  padding: 0px !important;
}
.heading {
  margin: auto;
  font-size: 2rem;
  margin-top: 18px;
  font-weight: 700;
  width: 90%;
  border-bottom: 1px solid gray;
}
.input {
  width: 80%;
  margin: auto;
}
.defualt {
  margin-left: 10px;
  width: 45%;
  text-align: center;
}
.table {
  width: 80%;
  margin: auto;
}
i:hover {
  cursor: pointer;
}
.value {
  display: inline-block;
}
