.container{
  border: 1px solid gray ;
  margin: auto;
  width: 500px;
  min-height: 100vh;
}
h3{
  margin: 0px !important;
}
.txt-ali{
  text-align: center;
}
.mt-1{
  margin-top: 10px;
}
.title{
  text-align: center ;
  color: #000000;
  margin: 0px !important;
}
.pl-4{
  padding-left: 30px;;
}
.balance{
  color: #76ff03 ;
}
.expense{
  color: #bf360c;
}
.flow-text{
  padding-left: 20px;
  margin: 0px !important;
}
.col{
  padding: 0px !important;
}
.heading{
  margin: auto;
  font-size: 2rem;
  margin-top: 18px;
  font-weight: 700;
  width: 90%;
  border-bottom: 1px solid gray;
}
.input{
  width:80%;
  margin: auto;
}
.defualt{
  margin-left: 10px;
  width: 45%;
  text-align: center;
}
.table{
  width:80%;
  margin: auto;
}
.value{
  display: inline-block;
}